<div class="container">
  <app-form-curso></app-form-curso>
  <hr>
  <h3>Cursos</h3>

  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let c of cursos">
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>
          <a [routerLink]="['/curso']" [queryParams]="{id: c.id}">
            <i class="fa fa-eye"></i>
          </a>
          <button class="btn btn-success" style="margin-left: 10px" (click)="navegar(c.id)">
            <i class="fa fa-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

