<router-outlet></router-outlet>

<!--<app-menu></app-menu>-->

<!--<app-poke-trello></app-poke-trello>-->

<!--<app-lista-pokemon></app-lista-pokemon>-->

<!--<div class="container">-->
<!--  <app-header></app-header>-->
<!--  <app-body></app-body>-->
<!--</div>-->

<!--<app-ejemploif></app-ejemploif>-->

<!--<app-navbar></app-navbar>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-md-6 col-lg-3" style="background-color: red; height: 200px;"></div>-->
<!--    <div class="col-xs-12 col-md-6 col-lg-3" style="background-color: blue; height: 200px;"></div>-->
<!--    <div class="col-xs-12 col-md-6 col-lg-3" style="background-color: green; height: 200px;"></div>-->
<!--    <div class="col-xs-12 col-md-6 col-lg-3" style="background-color: yellow; height: 200px;"></div>-->
<!--    <div class="col-xs-12 col-md-6 col-lg-3" style="background-color: black; height: 200px;"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div>-->
<!--  <div *ngIf = "!cargado" ><p>Cargando</p>-->
<!--  </div>-->

<!--  <div *ngIf = "cargado">-->
<!--    <div *ngFor="let item of listaVehiculos" >-->
<!--      <p>{{item.marca}}</p>-->
<!--      <p>{{item.modelo}}</p>-->
<!--      <p>{{item.year}}</p>-->
<!--      <p>{{item.precio}}</p>-->
<!--      <p>{{item.color}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
