<div class="container">
  <div class="row">
    <div class="header">
      <h3>Gestión de Usuarios</h3>
      <button class="btn btn-success" (click)="crear()">
        Crear
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of listaUsuarios; let indice = index">
          <td>{{ u.nombre }}</td>
          <td>{{ u.apellido }}</td>
          <td>{{ u.email }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm" (click)="ver(u)">
              <i class="fa fa-eye"></i>
            </button>
            <button class="btn btn-outline-warning btn-sm" (click)="editar(u, indice)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminarUsuario(indice)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
